@page "/"

@using global::MyDestiny.Models
@using MyDestiny.Extensions
@using MyDestiny.Components
@using System.Globalization

@inject IJSRuntime JSRuntime

<PageTitle>My Destiny</PageTitle>

<MudPaper Class="pa-16 ma-2 flex flex-row" Style="display: flex" Elevation="3">
    @* left *@
    <div class="flex-1">
        <MudPaper Class="pa-8 ma-2 w-2/4" Elevation="3">
            <div class="mb-8 flex items-center flex-col" style="display: flex">
                <div class="flex items-center flex-row justify-center" style="display: flex">
                    <MudText class="mr-2">Họ và tên</MudText>
                    <MudTextField Immediate="true"
                                  @bind-Value="@_hoVaTen"
                                  Variant="Variant.Text"
                                  Clearable="true"></MudTextField>
                </div>

                <div class="flex items-center flex-row" style="display: flex">
                    <MudText class="mr-2">Ngày tháng năm sinh</MudText>
                    <MudDatePicker @bind-Date="@_ngayThangNamSinh"
                                   Variant="Variant.Text"
                                   Culture="@CultureInfo.GetCultureInfo("vi-VN")"
                                   TitleDateFormat="dddd, dd MMMM" />
                </div>
            </div>

        </MudPaper>

    </div>

    @* right *@
    <div class="flex-1 flex-wrap">
        <MudPaper Class="pa-16 ma-2 bg-blue-400 w-2/4" Elevation="3">
            <MudText Typo="Typo.h3" GutterBottom="true">Ho va Ten: @_hoVaTen</MudText>
            <MudText Typo="Typo.h3" GutterBottom="true">Ngay thang nam sinh: @_ngayThangNamSinh?.ToString("dd/MM/yyyy")</MudText>
        </MudPaper>
    </div>

</MudPaper>
@* <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary" OnClick="@(TinhCacChiSo)">Tinh toan</MudButton> *@

<MudDivider DividerType="DividerType.Middle" Class="my-6" />

@* <MudPaper Class="pa-16 ma-2" Elevation="3">

    <div id="start">
    <PointWithLabel Diem="22" NoiDung="asd dsf" ViTri="left" Color="Color.Primary"/>
    <MudDivider DividerType="DividerType.Middle" Class="my-6"/>
    </div>

    <PointWithLabel Diem="22" NoiDung="asd dsf" ViTri="top" Color="Color.Secondary"/>
    <MudDivider DividerType="DividerType.Middle" Class="my-6"/>

    <PointWithLabel Diem="22" NoiDung="asd dsf" ViTri="right" Color="Color.Tertiary"/>
    <MudDivider DividerType="DividerType.Middle" Class="my-6"/>

    <div id="end">
    <PointWithLabel Diem="22" NoiDung="asd dsf" ViTri="bottom" Color="Color.Info"/>
    <MudDivider DividerType="DividerType.Middle" Class="my-6"/>
    </div>


</MudPaper> *@

<MudPaper Elevation="0">
    @if (_userInfo is null && !_isAllDone)
    {
        <MudProgressCircular Color="Color.Default" Indeterminate="true" />
    }
    else
    {

        /*
        1) Home page se hien thi cac chi so cua nguoi dung dang card
        2) Nhan vao card se nhay sang trang chi tiet
        */

        <div class="flex flex-row gap-4" style="display: flex">
            <Card Title="Chỉ số đường đời" Value="@_userInfo?.UserDetails.ChiSoDuongDoi" />
            <Card Title="Chỉ số sứ mệnh" Value="@_chiSoSuMenh" />
            <Card Title="Chỉ số liên kết đường đời và sứ mệnh" Value="@_chiSoLienKetDuongDoiVaSuMenh" />
            <Card Title="Chỉ số trưởng thành" Value="@_chiSoTruongThanh" />
        </div>

        <MudDivider DividerType="DividerType.Middle" Class="my-6" />

        <div class="flex flex-row gap-4" style="display: flex">
            <Card Title="Chỉ số linh hồn" Value="@_chiSoLinhHon" />
            <Card Title="Chỉ số nhân cách" Value="@_chiSoNhanCach" />
            <Card Title="Chỉ số liên kết" Value="@_chiSoLienKet" />
            <Card Title="Chỉ số cân bằng" Value="@_chiSoCanBang" />
        </div>

        <MudDivider DividerType="DividerType.Middle" Class="my-6" />

        <div class="flex flex-row gap-4 grow-[1]" style="display:flex">
            <Card Title="Chỉ số tư duy lý trí" Value="@_chiSoTuDuyLyTri" />
            <Card Title="Chỉ số sức mạnh tiềm thức" Value="@_chiSoSucManhTiemThuc" />
            <Card Title="Chỉ số đam mê" Values="@_chiSoDamMe" />
            <Card Title="Chỉ số thiếu" Values="@_chiSoThieu" />
        </div>

        <MudDivider DividerType="DividerType.Middle" Class="my-6" />

        <div class="flex flex-row gap-4" style="display: flex">
            <Card Title="Chỉ số năm cá nhân" Value="@_chiSoNamCaNhan" />
            <Card Title="Chỉ số tháng cá nhân" Value="@_chiSoThangCaNhan" />
            <Card Title="Chỉ số ngày cá nhân" Value="@_chiSoNgayCaNhan" />
        </div>

        <MudDivider DividerType="DividerType.Middle" Class="my-6" />

        <div class="flex flex-row gap-4" style="display: flex">
            <Card Title="Chỉ số chặng 1" Value="@_chiSoChang1" />
            <Card Title="Chỉ số chặng 2" Value="@_chiSoChang2" />
            <Card Title="Chỉ số chặng 3" Value="@_chiSoChang3" />
            <Card Title="Chỉ số chặng 4" Value="@_chiSoChang4" />
        </div>

        <MudDivider DividerType="DividerType.Middle" Class="my-6" />

        <div class="flex flex-row gap-4" style="display: flex">
            <Card Title="Chỉ số tuổi chặng 1" Value="@_chiSoTuoiChang1" />
            <Card Title="Chỉ số tuổi chặng 2" Value="@_chiSoTuoiChang2" />
            <Card Title="Chỉ số tuổi chặng 3" Value="@_chiSoTuoiChang3" />
            <Card Title="Chỉ số tuổi chặng 4" Value="@_chiSoTuoiChang4" />
        </div>

        <MudDivider DividerType="DividerType.Middle" Class="my-6" />

        <div class="flex flex-row gap-4" style="display: flex">
            <Card Title="Chỉ số năm chặng 1" Value="@_chiSoNamChang1" />
            <Card Title="Chỉ số năm chặng 2" Value="@_chiSoNamChang2" />
            <Card Title="Chỉ số năm chặng 3" Value="@_chiSoNamChang3" />
            <Card Title="Chỉ số năm chặng 4" Value="@_chiSoNamChang4" />
        </div>

        <MudDivider DividerType="DividerType.Middle" Class="my-6" />

        <div class="flex flex-row gap-4" style="display: flex">
            <Card Title="Chỉ số thách thức 1" Value="@_chiSoThachThuc1" />
            <Card Title="Chỉ số thách thức 2" Value="@_chiSoThachThuc2" />
            <Card Title="Chỉ số thách thức 3" Value="@_chiSoThachThuc3" />
            <Card Title="Chỉ số thách thức 4" Value="@_chiSoThachThuc4" />
        </div>

        <MudDivider DividerType="DividerType.Middle" Class="my-6" />

        <div class="flex flex-row gap-4" style="display: flex">
            <Card Title="Chỉ số ngày sinh" Value="@_chiSoNgaySinh" />
        </div>
    }

</MudPaper>

@code {

    #region fields



    private string _hoVaTen = "ha nhan quoc long";
    // private DateTime? _userBirthDay = DateTime.Today.AddYears(-10);
    private DateTime? _ngayThangNamSinh = new DateTime(2002, 07, 11);

    private UserInfo? _userInfo;

    private bool _isAllDone = true;

    private int _chiSoSuMenh;
    private int _chiSoLienKetDuongDoiVaSuMenh;
    private int _chiSoTruongThanh;

    private int _chiSoLinhHon;
    private int _chiSoNhanCach;
    private int _chiSoLienKet;
    private int _chiSoCanBang;

    private int _chiSoTuDuyLyTri;
    private int _chiSoSucManhTiemThuc;
    private List<int> _chiSoDamMe;
    private List<int> _chiSoThieu;

    private int _chiSoNamCaNhan;
    private int _chiSoThangCaNhan;
    private int _chiSoNgayCaNhan;

    private int _chiSoChang1;
    private int _chiSoChang2;
    private int _chiSoChang3;
    private int _chiSoChang4;

    private int _chiSoTuoiChang1;
    private int _chiSoTuoiChang2;
    private int _chiSoTuoiChang3;
    private int _chiSoTuoiChang4;

    private int _chiSoNamChang1;
    private int _chiSoNamChang2;
    private int _chiSoNamChang3;
    private int _chiSoNamChang4;

    private int _chiSoThachThuc1;
    private int _chiSoThachThuc2;
    private int _chiSoThachThuc3;
    private int _chiSoThachThuc4;

    private int _chiSoNgaySinh;

    #endregion

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
    }

    private async Task TinhCacChiSo(MouseEventArgs e)
    {
        _isAllDone = false;

        _userInfo = new UserInfo(_hoVaTen, _ngayThangNamSinh!.Value);

        _userInfo.UserDetails.ChiSoDuongDoi = _userInfo.TinhDuongDoi();
        _chiSoSuMenh = _userInfo.TinhChiSoSuMenh();
        _chiSoLienKetDuongDoiVaSuMenh = _userInfo.TinhChiSoLienKetDuongDoiVaSuMenh(_userInfo.UserDetails.ChiSoDuongDoi.Value, _chiSoSuMenh);
        _chiSoTruongThanh = _userInfo.TinhChiSoTruongThanh(_userInfo.UserDetails.ChiSoDuongDoi.Value, _chiSoSuMenh);

        _chiSoLinhHon = _userInfo.TinhChiSoLinhHon();
        _chiSoNhanCach = _userInfo.TinhChiSoNhanCach();
        _chiSoLienKet = _userInfo.TinhChiSoLienKetLinhHoVaNhanCach(_chiSoLinhHon, _chiSoNhanCach);
        _chiSoCanBang = _userInfo.TinhChiSoCanBang();

        _chiSoTuDuyLyTri = _userInfo.TinhChiSoTuDuyLyTri();
        _chiSoSucManhTiemThuc = _userInfo.TinhChiSoSucManhTiemThuc();
        _chiSoDamMe = _userInfo.TinhChiSoDamMe();
        _chiSoThieu = _userInfo.TinhChiSoThieu();

        _chiSoNamCaNhan = _userInfo.TinhNamCaNhan();
        _chiSoThangCaNhan = _userInfo.TinhThangCaNhan(_chiSoNamCaNhan);
        _chiSoNgayCaNhan = _userInfo.TinhNgayCaNhan(_chiSoThangCaNhan);

        _chiSoChang1 = _userInfo.TinhChang1();
        _chiSoChang2 = _userInfo.TinhChang2();
        _chiSoChang3 = _userInfo.TinhChang3(_chiSoChang1, _chiSoChang2);
        _chiSoChang4 = _userInfo.TinhChang4();

        _chiSoTuoiChang1 = _userInfo.TinhTuoiChang1(_userInfo.UserDetails.ChiSoDuongDoi.Value);
        _chiSoTuoiChang2 = _userInfo.TinhTuoiChang2(_chiSoTuoiChang1);
        _chiSoTuoiChang3 = _userInfo.TinhTuoiChang3(_chiSoTuoiChang2);
        _chiSoTuoiChang4 = _userInfo.TinhTuoiChang4(_chiSoTuoiChang3);

        _chiSoNamChang1 = _userInfo.TinhTuoiNamChang1(_chiSoTuoiChang1);
        _chiSoNamChang2 = _userInfo.TinhTuoiNamChang2(_chiSoTuoiChang2);
        _chiSoNamChang3 = _userInfo.TinhTuoiNamChang3(_chiSoTuoiChang3);
        _chiSoNamChang4 = _userInfo.TinhTuoiNamChang4(_chiSoTuoiChang4);

        _chiSoThachThuc1 = _userInfo.TinhThachThuc1();
        _chiSoThachThuc2 = _userInfo.TinhThachThuc2();
        _chiSoThachThuc3 = _userInfo.TinhThachThuc3(_chiSoThachThuc1, _chiSoThachThuc2);
        _chiSoThachThuc4 = _userInfo.TinhThachThuc4();

        _chiSoNgaySinh = _userInfo.TinhChiSoNgaySinh();

        _isAllDone = true;



        //await CreateLeaderLine();
    }

    private async Task NhapHoVaTen(ChangeEventArgs e)
    {
        // TODO: Validate input
        // Get value from input
        var value = e.Value;
        Console.WriteLine(value);
    }

    private async Task CreateLeaderLine()
    {
        await Task.Delay(10);

        //await JSRuntime.InvokeVoidAsync("createLeaderLine",new [] { "start", "end" });
        var result = await JSRuntime.InvokeAsync<int>("sum", 5, 7);
        Console.WriteLine(result);
    }
}
