@page "/"

@using global::MyDestiny.Models
@using MyDestiny.Extensions
@using MyDestiny.Components

@inject IJSRuntime JSRuntime

<PageTitle>My Destiny</PageTitle>

<MudDivider DividerType="DividerType.Middle" Class="my-6"/>

<MudPaper Class="pa-16 ma-2" Elevation="3">
    <MudTextField Label="Ho Va Ten" @bind-Value="_userName" Variant="Variant.Outlined"></MudTextField>
    <MudDatePicker Label="Ngay thang nam sinh" Editable="true" @bind-Date="_userBirthDay" Placeholder="Chon ngay"/>

    <MudDivider DividerType="DividerType.Middle" Class="my-6"/>

    <MudText Typo="Typo.h3" GutterBottom="true">Ho va Ten: @_userInfo?.HoVaTen</MudText>
    <MudText Typo="Typo.h3" GutterBottom="true">Ngay thang nam sinh: @_userInfo?.NgayThangNamSinh.ToString("dd/MM/yyyy")</MudText>

    <MudDivider DividerType="DividerType.Middle" Class="my-6"/>
    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary" OnClick="@(TinhCacChiSo)">Tinh toan</MudButton>
</MudPaper >

<MudDivider DividerType="DividerType.Middle" Class="my-6"/>

<MudPaper Class="pa-16 ma-2" Elevation="3">

    <div id="start">
    <PointWithLabel Diem="22" NoiDung="asd dsf" ViTri="left" Color="Color.Primary"/>
    <MudDivider DividerType="DividerType.Middle" Class="my-6"/>
    </div>

    <PointWithLabel Diem="22" NoiDung="asd dsf" ViTri="top" Color="Color.Secondary"/>
    <MudDivider DividerType="DividerType.Middle" Class="my-6"/>

    <PointWithLabel Diem="22" NoiDung="asd dsf" ViTri="right" Color="Color.Tertiary"/>
    <MudDivider DividerType="DividerType.Middle" Class="my-6"/>

    <div id="end">
    <PointWithLabel Diem="22" NoiDung="asd dsf" ViTri="bottom" Color="Color.Info"/>
    <MudDivider DividerType="DividerType.Middle" Class="my-6"/>
    </div>


</MudPaper>

<MudPaper Class="pa-16 ma-2" Elevation="3">
    @if (_userInfo is null && !_isAllDone)
    {
        <MudProgressCircular Color="Color.Default" Indeterminate="true"/>
    }
    else
    {
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số đường đời: @_userInfo?.UserDetails.ChiSoDuongDoi</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số sứ mệnh: @_chiSoSuMenh</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số liên kết đường đời và sứ mệnh: @_chiSoLienKetDuongDoiVaSuMenh</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số trưởng thành: @_chiSoTruongThanh</MudText>

        <MudDivider DividerType="DividerType.Middle" Class="my-6"/>

        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số linh hồn: @_chiSoLinhHon</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số nhân cách: @_chiSoNhanCach</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số liên kết: @_chiSoLienKet</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số cân bằng: @_chiSoCanBang</MudText>

        <MudDivider DividerType="DividerType.Middle" Class="my-6"/>

        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số tư duy lý trí: @_chiSoTuDuyLyTri</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số sức mạnh tiềm thức: @_chiSoSucManhTiemThuc</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số đam mê: @_chiSoDamMe</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số thiếu: @_chiSoThieu</MudText>

        <MudDivider DividerType="DividerType.Middle" Class="my-6"/>

        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số năm cá nhân: @_chiSoNamCaNhan</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số tháng cá nhân: @_chiSoThangCaNhan</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số ngày cá nhân: @_chiSoNgayCaNhan</MudText>

        <MudDivider DividerType="DividerType.Middle" Class="my-6"/>

        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số chặng 1: @_chiSoChang1</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số chặng 2: @_chiSoChang2</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số chặng 3: @_chiSoChang3</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số chặng 4: @_chiSoChang4</MudText>

        <MudDivider DividerType="DividerType.Middle" Class="my-6"/>

        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số tuoi chặng 1: @_chiSoTuoiChang1</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số tuoi chặng 2: @_chiSoTuoiChang2</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số tuoi chặng 3: @_chiSoTuoiChang3</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số tuoi chặng 4: @_chiSoTuoiChang4</MudText>

        <MudDivider DividerType="DividerType.Middle" Class="my-6"/>

        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số nam chặng 1: @_chiSoNamChang1</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số nam chặng 2: @_chiSoNamChang2</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số nam chặng 3: @_chiSoNamChang3</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số nam chặng 4: @_chiSoNamChang4</MudText>

        <MudDivider DividerType="DividerType.Middle" Class="my-6"/>

        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số thách thức 1: @_chiSoThachThuc1</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số thách thức 2: @_chiSoThachThuc2</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số thách thức 3: @_chiSoThachThuc3</MudText>
        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ số thách thức 4: @_chiSoThachThuc4</MudText>

        <MudDivider DividerType="DividerType.Middle" Class="my-6"/>

        <MudText Typo="Typo.h4" GutterBottom="true">Chỉ so ngay sinh: @_chiSoNgaySinh</MudText>
    }

</MudPaper>

@code {

    #region fields

    

    private string _userName = "a v";
    private DateTime? _userBirthDay = DateTime.Today;

    private UserInfo? _userInfo;

    private bool _isAllDone = false;

    private int _chiSoSuMenh;
    private int _chiSoLienKetDuongDoiVaSuMenh;
    private int _chiSoTruongThanh;

    private int _chiSoLinhHon;
    private int _chiSoNhanCach;
    private int _chiSoLienKet;
    private int _chiSoCanBang;

    private int _chiSoTuDuyLyTri;
    private int _chiSoSucManhTiemThuc;
    private string _chiSoDamMe;
    private string _chiSoThieu;

    private int _chiSoNamCaNhan;
    private int _chiSoThangCaNhan;
    private int _chiSoNgayCaNhan;

    private int _chiSoChang1;
    private int _chiSoChang2;
    private int _chiSoChang3;
    private int _chiSoChang4;

    private int _chiSoTuoiChang1;
    private int _chiSoTuoiChang2;
    private int _chiSoTuoiChang3;
    private int _chiSoTuoiChang4;

    private int _chiSoNamChang1;
    private int _chiSoNamChang2;
    private int _chiSoNamChang3;
    private int _chiSoNamChang4;

    private int _chiSoThachThuc1;
    private int _chiSoThachThuc2;
    private int _chiSoThachThuc3;
    private int _chiSoThachThuc4;

    private int _chiSoNgaySinh;

    #endregion
    
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
    }

    private async Task TinhCacChiSo(MouseEventArgs e)
    {
        _isAllDone = false;

        _userInfo = new UserInfo(_userName, _userBirthDay!.Value);

        _userInfo.UserDetails.ChiSoDuongDoi = _userInfo.TinhDuongDoi();
        _chiSoSuMenh = _userInfo.TinhChiSoSuMenh();
        _chiSoLienKetDuongDoiVaSuMenh = _userInfo.TinhChiSoLienKetDuongDoiVaSuMenh(_userInfo.UserDetails.ChiSoDuongDoi.Value, _chiSoSuMenh);
        _chiSoTruongThanh = _userInfo.TinhChiSoTruongThanh(_userInfo.UserDetails.ChiSoDuongDoi.Value, _chiSoSuMenh);

        _chiSoLinhHon = _userInfo.TinhChiSoLinhHon();
        _chiSoNhanCach = _userInfo.TinhChiSoNhanCach();
        _chiSoLienKet = _userInfo.TinhChiSoLienKetLinhHoVaNhanCach(_chiSoLinhHon, _chiSoNhanCach);
        _chiSoCanBang = _userInfo.TinhChiSoCanBang();

        _chiSoTuDuyLyTri = _userInfo.TinhChiSoTuDuyLyTri();
        _chiSoSucManhTiemThuc = _userInfo.TinhChiSoSucManhTiemThuc();
        _chiSoDamMe = _userInfo.TinhChiSoDamMe().Aggregate("", (current, item) => current + (item + ", "));
        _chiSoThieu = _userInfo.TinhChiSoThieu().Aggregate("", (current, item) => current + (item + ", "));

        _chiSoNamCaNhan = _userInfo.TinhNamCaNhan();
        _chiSoThangCaNhan = _userInfo.TinhThangCaNhan(_chiSoNamCaNhan);
        _chiSoNgayCaNhan = _userInfo.TinhNgayCaNhan(_chiSoThangCaNhan);

        _chiSoChang1 = _userInfo.TinhChang1();
        _chiSoChang2 = _userInfo.TinhChang2();
        _chiSoChang3 = _userInfo.TinhChang3(_chiSoChang1, _chiSoChang2);
        _chiSoChang4 = _userInfo.TinhChang4();

        _chiSoTuoiChang1 = _userInfo.TinhTuoiChang1(_userInfo.UserDetails.ChiSoDuongDoi.Value);
        _chiSoTuoiChang2 = _userInfo.TinhTuoiChang2(_chiSoTuoiChang1);
        _chiSoTuoiChang3 = _userInfo.TinhTuoiChang3(_chiSoTuoiChang2);
        _chiSoTuoiChang4 = _userInfo.TinhTuoiChang4(_chiSoTuoiChang3);

        _chiSoNamChang1 = _userInfo.TinhTuoiNamChang1(_chiSoTuoiChang1);
        _chiSoNamChang2 = _userInfo.TinhTuoiNamChang2(_chiSoTuoiChang2);
        _chiSoNamChang3 = _userInfo.TinhTuoiNamChang3(_chiSoTuoiChang3);
        _chiSoNamChang4 = _userInfo.TinhTuoiNamChang4(_chiSoTuoiChang4);

        _chiSoThachThuc1 = _userInfo.TinhThachThuc1();
        _chiSoThachThuc2 = _userInfo.TinhThachThuc2();
        _chiSoThachThuc3 = _userInfo.TinhThachThuc3(_chiSoThachThuc1, _chiSoThachThuc2);
        _chiSoThachThuc4 = _userInfo.TinhThachThuc4();

        _chiSoNgaySinh = _userInfo.TinhChiSoNgaySinh();

        _isAllDone = true;


        
        await CreateLeaderLine();
    }
    
    
    private async Task CreateLeaderLine()
    {
        await Task.Delay(10);
        
        //await JSRuntime.InvokeVoidAsync("createLeaderLine",new [] { "start", "end" });
        var result = await JSRuntime.InvokeAsync<int>("sum", 5, 7);
        Console.WriteLine(result);
    }
}